<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C-Class.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>C-Class</title>
</head>
<body>
    <div class="wrapper">
        <nav>
          <input type="checkbox" id="show-menu">
          <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
          <div class="content">
          <div class="logo"><a href="Home.html">GarageAR</a></div>
            <ul class="links">
              <li><a href="Home.html">Home</a></li>

              <li>
                <a href="#" class="desktop-link">Brands</a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Brands</label>
                <ul>
                  <li><a href="Mercedes-Benz.html">Mercedes-Benz</a></li>
                  <li><a href="BMW.html">BMW</a></li>
                  <li><a href="Audi.html">Audi</a></li>
                  <li><a href="Tesla.html">Tesla</a></li>
                </ul>
              </li>
              <li><a href="ContactUs.html">Contacts</a></li>
              <li><a href="Login.php">Login</a></li>
            </ul>
          </div>
        </nav>
    </div>

    <div class="container">

      <div class="img-background">
        <img src="..\Fotot\W-Cclass.jpg" alt="cclass">
        <div class="centered">THE NEW C-CLASS.</div>
      </div>

      <div class="opacity"></div>
    

        <div class="header2">
          <h1>Mercedes-Benz C-CLASS</h1>
        </div>

      <div class="sheet">

        <div class="sheet-slideshow">
          <script src="C-Class.js"></script>
          <img name="slide" width="100%" alt="photos">
        </div>

          <div class="sheet-performance">
            <h1>Mercedes-Benz C-CLASS</h1>

            <div class="sheet-performance-ul">

              <div class="sheet-performance-list-one">
                <div class="div">
                  <strong>Trim</strong>
                  <p>C300 Sedan</p>
                </div>
                <div class="div">
                  <strong>Horsepower</strong>
                  <p>255@5,550</p>
                </div>
                <div class="div">
                  <strong>Engine Type</strong>
                  <p>Turbo Gas</p>
                </div>
                <div class="div">
                  <strong>Transmision</strong>
                  <p>Automatic</p>
                </div>
              </div>


              <div class="sheet-performance-list-two">
                <div class="div">
                  <strong>Engine</strong>
                  <p>4-Cyl Turbo 2.0 Liter</p>
                </div>
                <div class="div">
                  <strong>Engine Size</strong>
                  <p>2.0</p>
                </div>
                <div class="div">
                  <strong>Transmision Speeds</strong>
                  <p>9</p>
                </div>
                <div class="div">
                  <strong>Seating</strong>
                  <p>5/5</p>
                </div>
            </div>

          </div>
        </div>
      </div>
        <div class="Price">
          <p>Starting at :</p><sup><h2>$61,000</h2></sup>
        </div>
        <div class="content-button">
          <button onclick="removeElement()">↓ Click for more details ↓</button>
        </div>
        <div class="visible" id="visible" >
              <div class="Details">
                <h1 id="overview">OVERVIEW</h1>
                <p>
                    Welcome to a new, even more digital and efficient world, and welcome home: the new C-Class stands for both, and in all respects creates a future-proof comfort zone in a time of worldwide transformation. The new C-Class is the first classic Mercedes-Benz model series to be fully electrified thanks to an integrated starter- generator and a 48-volt technology. It also sets standards with respect to sustainability. And because the C- Class is one of the company's highest-volume model series, this systematic electrification has a correspondingly strong effect on our carbon footprint. The all-new 2022 Mercedes-Benz C-Class Sedan will arrive in U.S. dealerships in early 2022.
                </p>
                <br>
              </div>
              <div class="Details2">
                  <h1 id="Engine">Engine, Transmission, and Performance</h1>
                  <p>Thanks to systematic electrification and intelligent downsizing, the new C-Class sets new standards in efficiency. The engine range has only four-cylinder units from the current modular FAME (Family of Modular Engines) Mercedes-Benz engine family. Accordingly, the engine range plays a major role in the flexibility of the international production network, with needs-based electrification.

                      In addition to turbocharging, the gasoline engine now has an integrated starter-generator (ISG) for intelligent assistance at low engine speeds as a mild hybrid, ensuring outstanding power delivery. The ISG uses a 48-volt onboard electrical system that allows functions such as gliding, boosting or energy recovery, and makes significant fuel savings possible. The engines also start very rapidly and comfortably as a result, so that the start/stop function is almost as imperceptible to the driver as the transition from gliding with the engine switched off to strong acceleration under engine power. When idling, the intelligent interaction between the ISG and the combustion engine ensures outstandingly smooth running.

                      Four-cylinder gasoline engine with an ISG
                      The four-cylinder M 254 gasoline engine, featuring an integrated starter-generator with an additional output of up to 20 hp and 148 lb-ft more torque is also celebrating its premiere in the C-Class. Thanks to energy recovery and the ability to "glide" with the engine switched off, the gasoline engine is highly efficient. In the M 254, Mercedes-Benz has for the first time combined all the innovations of the modular engine family of four and six-cylinder gasoline units in a single engine. They include NANOSLIDE® cylinder coating, CONICSHAPE® cylinder honing (trumpet honing) and the exhaust after treatment system positioned directly at the engine.

                      A completely new feature is the segment charger with flow connection, an advancement of the twin-scroll technology for even more instantaneous response of the forced induction system. The completely newly developed segment turbocharger is a result of cooperation between Mercedes-Benz turbocharger developers and the Mercedes-AMG Petronas Formula 1 team. The technology transfer to series production sets new standards with respect to power combined with maximum efficiency. For short periods, the output of the C 300 can be increased by up to 20 hp.</p>
              </div>
              <div class="Details3">
                  <h1 id="Interior">Interior, Comfort, and Cargo</h1>
                  <p>The dashboard is divided into an upper and a lower section: into a wing-like section with new, flattened round vents reminiscent of aircraft engine nacelles, and into an opulent expanse of trim. The latter flows from the center console to the dashboard without interruption. Driver-focus adds to the sportiness: the dashboard and central display are slightly tilted towards the driver by six degrees.

                      The driver area features a 12.3-inch high-resolution display as standard, setting it apart from traditional cockpits with classic round dials.

                      The paradigm change to digitalization is also obvious in the central display: the vehicle functions can be controlled using the high-quality touchscreen. Its portrait orientation is particularly advantageous for navigation. The touchscreen likewise appears to float above the expanse of trim. Like the dashboard, the screen is slightly tilted towards the driver. The central display has a screen diagonal of 11.9 inches as standard.

                      Surrounded by lustrous jet black trim, the central display extends seamlessly to the center console. A refined finishing detail, a high-quality chrome insert creates a clean divide to the rear, padded section of the armrest.

                      The modern, minimalist design of the door panels frames both ends of the dashboard. The door center panel with integrated armrest evolves from a vertical surface into a horizontal orientation. Reflecting the design of the center console, the front section takes the form of a metallic high-tech element. It can be used as a grab or closing handle, and houses the power window controls. Another highlight is the floating control cluster, into which the door opener and seat adjustment controls are integrated.

                      The special seat design in the new C-Class uses layers and enveloping surfaces to create a visual impression of lightness. The head restraints are a completely new design and are attached to the backrest with a sealed piece of trim.

                      A dashboard covered with MB-Tex and featuring luxurious beltlines is available for the C-Class when equipped with AMG Line. The range of available trim options showcases innovative surfaces. These include new interpretations of natural grain veneers in brown tones and a black, and natural grain wood veneer featuring fine inlays of genuine aluminum that follow the dashboard's contours.

                      The driver display and media display offer a holistic, aesthetic experience. The look of the screens can be individualized with three display styles (Sporty, Classic and Understated) and three modes (Navigation, Assistance, Service). In "Sporty," for example, the color red is predominant and the central rev counter has a dynamic design. The new C-Class is equipped with 64-color ambient lighting as standard, with an optionally available enhanced version.</p>
              </div>
          </div><div class="forma2">
      <div class="box-1">
          <h3 id="titulli">Shopping</h3>
         
          <ul id="cars">
                <li><a href="S-Class.html">2022 Mercedes-Benz S-class</a></li>
                <li><a href="G-Class.html">2020 Mercedes-Benz G-Class</a></li>
                <li><a href="CLA.html">2021 Mercedes-Benz CLA </a></li>
                <li><a href="CyberTruck.html">2023 Tesla Cybertruck</a></li>
                <li><a href="RS.html">2022 Audi e-tron GT</a></li>
                <li><a href="Model3.html">2022 Tesla Model 3</a></li>
                <li><a href="I8.html">2020 BMW i8</a></li>
                <li><a href="M5.html">2022 BMW M5</a></li>
            </ul>
      </div>
      <div class="box-2">
          <h3 id="titulli">Explore</h3>
        
          <ul id="cars">
                <li><a href="Mercedes-EQ.html">Formula 1 Mercedes-Benz EQ</a></li>
                <li><a href="Avtr.html">AVTR-Avatar Mercedes-Benz</a></li>
                <li><a href="X7.html">Horsepower of BMW X7</a></li>
                <li><a href="S7.html">Engine of Audi s7</a></li>
                <li><a href="Sales.html">Sale off</a></li>
           
              
            </ul>
      </div>
      <div class="box-3">
          <h3 id="titulli">All about cars</h3>
       
          <ul id="cars">
              <li><a href="https://www.mercedes-benz.com/en/">About Mercedes-Benz</a></li>
              <li><a href="https://www.bmw.com/en/footer/about-bmw-com.html">About BMW.com</a></li>
              <li><a href="https://www.audiusa.com/us/web/en.html">Audi.com</a></li>
              <li><a href="https://www.tesla.com/models">Tesla</a></li>
            
          </ul>
      </div>
      <div class="box-4">
          <h3 id="titulli">Visit us on</h3>
        
          <ul id="cars">
              <li><a href="https://www.facebook.com/">Facebook</a></li>
              <li><a href="https://www.instagram.com/">Instagram</a></li>
              <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
              <li><a href="https://www.youtube.com/">YouTube</a></li>
            
          </ul>
      </div>
  </div>

  <div class="footer">
      <p id="text1">© 2021 GarageAR of Kosovo. All rights reserved..</p>
      <ul id="footer-elements">
          <li><a href="">Terms of service</a></li>
          <li><a href="">Privacy statement</a></li>
          <li><a href="">Do not sell my personal information</a></li>
          <li><a href="">Cookie setting</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Interest based ads</a></li>
          <li><a href="">Recalls</a></li>

      </ul>
      <p id="text2">GarageAR of Kosovo makes efforts to ensure that the information on this page is accurate.
          However, some delays in updating of sold vehicles may occur. Contact your dealer to confirm availability of any vehicle.</p>
  </div>
    </div></div>
    
</body>
</html>