<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CLA.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>CLA</title>
</head>
<body>
    <div class="wrapper">
        <nav>
          <input type="checkbox" id="show-menu">
          <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
          <div class="content">
          <div class="logo"><a href="Home.html">GarageAR</a></div>
            <ul class="links">
              <li><a href="Home.html">Home</a></li>
              
              <li>
                <a href="#" class="desktop-link">Brands</a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Brands</label>
                <ul>
                  <li><a href="Mercedes-Benz.html">Mercedes-Benz</a></li>
                  <li><a href="BMW.html">BMW</a></li>
                  <li><a href="Audi.html">Audi</a></li>
                  <li><a href="Tesla.html">Tesla</a></li>
                </ul>
              </li>
              <li><a href="ContactUs.html">Contacts</a></li>
              <li><a href="Login.php">Login</a></li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="container">

      <div class="img-background">
        <img src="..\Fotot\W-CLA.jpg" alt="cla">
        <div class="centered">THE NEW CLA.</div>
      </div>

      <div class="opacity"></div>
    

        <div class="header2">
          <h1>Mercedes-Benz CLA</h1>
        </div>

      <div class="sheet">

        <div class="sheet-slideshow">
          <script src="CLA.js"></script>
          <img name="slide" width="100%" alt="photos">
        </div>

          <div class="sheet-performance">
            <h1>Mercedes-Benz CLA</h1>

            <div class="sheet-performance-ul">

              <div class="sheet-performance-list-one">
                <div class="div">
                  <strong>Trim</strong>
                  <p>C300 Sedan</p>
                </div>
                <div class="div">
                  <strong>Horsepower</strong>
                  <p>255@5,550</p>
                </div>
                <div class="div">
                  <strong>Engine Type</strong>
                  <p>Turbo Gas</p>
                </div>
                <div class="div">
                  <strong>Transmision</strong>
                  <p>Automatic</p>
                </div>
              </div>


              <div class="sheet-performance-list-two">
                <div class="div">
                  <strong>Engine</strong>
                  <p>4-Cyl Turbo 2.0 Liter</p>
                </div>
                <div class="div">
                  <strong>Engine Size</strong>
                  <p>2.0</p>
                </div>
                <div class="div">
                  <strong>Transmision Speeds</strong>
                  <p>9</p>
                </div>
                <div class="div">
                  <strong>Seating</strong>
                  <p>5/5</p>
                </div>
            </div>

          </div>
        </div>
      </div>
        <div class="Price">
          <p>Starting at :</p><sup><h2>$61,000</h2></sup>
        </div>
        <div class="content-button">
          <button onclick="removeElement()">↓ Click for more details ↓</button>
        </div>
        <div class="visible" id="visible" >
              <div class="Details">
                <h1 id="overview">OVERVIEW</h1>
                <p>
                  TThe small but mighty 2022 Mercedes-AMG CLA-class brings impressive performance 
                  and power to the entry-luxury car segment. The spunky sedan comes in 302-hp CLA35 
                  and 382-hp CLA45 guise, both offering crisp handling and a slick-looking fastback 
                  roofline. Inside, the CLA's upscale cabin features plenty of tech features intermingled 
                  with a sporty design theme that includes aggressively-bolstered front seats, a flat-bottomed 
                  steering wheel, carbon-fiber trim, and aluminum pedal covers. The CLA's main rivals are the Audi 
                  S3, the BMW M235i Gran Coupe, the Cadillac CT4-V.
                </p>
                <br>
              </div>
              <div class="Details2">
                  <h1 id="Engine">Engine, Transmission, and Performance</h1>
                  <p>While both models boast the company's latest turbocharged 2.0-liter four-cylinder, the CLA35 makes 302 
                    horsepower and 295 lb-ft of torque and the CLA45 develops 382 ponies and 354 lb-ft. The CLA35 drives through 
                    a seven-speed automatic transmission while the CLA45 has an eight-speed automatic. They both have standard 4Matic+ 
                    all-wheel drive, which can send all of the power to the rear wheels. The 45 can even be equipped with a tail-sliding 
                    Drift drive mode. A set of optional adaptive dampers provide adjustable ride quality. At our test track, the 302-hp CLA35 
                    managed a quick 4.4-second zero-to-60-mph time but the 382-hp CLA45 did the deed in 3.7 seconds.</p>
              </div>
              <div class="Details3">
                  <h1 id="Interior">Interior, Comfort, and Cargo</h1>
                  <p>The CLA45 stands out on the street from the CLA35 with a flashier grille, wider front fenders, extra aerodynamic bits, and more. 
                    However, the two have similar aesthetics on the inside. Both can be outfitted with black faux-suede accents as well as red seatbelts and 
                    contrast-stitching. They also have customizable ambient interior lighting that includes illuminated circular air vents in the instrument panel. 
                    The front seats are pleasantly spacious, but there's limited headroom in the second row due to the car's sloping roofline. This sedan provides 
                    11.6 cubic feet of cargo space. That's less than in the outgoing model, but it's still enough to house a couple of overnight bags or an average grocery haul.</p>
              </div>
          </div><div class="forma2">
      <div class="box-1">
          <h3 id="titulli">Shopping</h3>
         
          <ul id="cars">
                <li><a href="S-Class.html">2022 Mercedes-Benz S-class</a></li>
                <li><a href="G-Class.html">2020 Mercedes-Benz G-Class</a></li>
                <li><a href="CLA.html">2021 Mercedes-Benz CLA </a></li>
                <li><a href="CyberTruck.html">2023 Tesla Cybertruck</a></li>
                <li><a href="RS.html">2022 Audi e-tron GT</a></li>
                <li><a href="Model3.html">2022 Tesla Model 3</a></li>
                <li><a href="I8.html">2020 BMW i8</a></li>
                <li><a href="M5.html">2022 BMW M5</a></li>
            </ul>
      </div>
      <div class="box-2">
          <h3 id="titulli">Explore</h3>
        
          <ul id="cars">
                <li><a href="Mercedes-EQ.html">Formula 1 Mercedes-Benz EQ</a></li>
                <li><a href="Avtr.html">AVTR-Avatar Mercedes-Benz</a></li>
                <li><a href="X7.html">Horsepower of BMW X7</a></li>
                <li><a href="S7.html">Engine of Audi s7</a></li>
                <li><a href="Sales.html">Sale off</a></li>
           
              
            </ul>
      </div>
      <div class="box-3">
          <h3 id="titulli">All about cars</h3>
       
          <ul id="cars">
              <li><a href="https://www.mercedes-benz.com/en/">About Mercedes-Benz</a></li>
              <li><a href="https://www.bmw.com/en/footer/about-bmw-com.html">About BMW.com</a></li>
              <li><a href="https://www.audiusa.com/us/web/en.html">Audi.com</a></li>
              <li><a href="https://www.tesla.com/models">Tesla</a></li>
            
          </ul>
      </div>
      <div class="box-4">
          <h3 id="titulli">Visit us on</h3>
        
          <ul id="cars">
              <li><a href="https://www.facebook.com/">Facebook</a></li>
              <li><a href="https://www.instagram.com/">Instagram</a></li>
              <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
              <li><a href="https://www.youtube.com/">YouTube</a></li>
            
          </ul>
      </div>
  </div>

  <div class="footer">
      <p id="text1">© 2021 GarageAR of Kosovo. All rights reserved..</p>
      <ul id="footer-elements">
          <li><a href="">Terms of service</a></li>
          <li><a href="">Privacy statement</a></li>
          <li><a href="">Do not sell my personal information</a></li>
          <li><a href="">Cookie setting</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Interest based ads</a></li>
          <li><a href="">Recalls</a></li>

      </ul>
      <p id="text2">GarageAR of Kosovo makes efforts to ensure that the information on this page is accurate.
          However, some delays in updating of sold vehicles may occur. Contact your dealer to confirm availability of any vehicle.</p>
  </div>
    </div></div>
    
</body>
</html>